---
import type {Page, PaginateFunction} from 'astro'
import sprite from 'src/components/svgsprite'
import versionsData from 'src/data/versions.json'
import Layout from 'src/layouts/Layout.astro'

// eslint-disable-next-line func-style
export async function getStaticPaths({paginate}: {paginate: PaginateFunction}) {
  const reverseVersionsData = structuredClone(versionsData.versions).reverse()
  return paginate(reverseVersionsData, {pageSize: 1})
}

const {page} = Astro.props as {
  page: Page<(typeof versionsData)['versions'][number]>
}
const version = page.data[0]

const thisVersionNumber = version.version
const title = `Path of Exile ${thisVersionNumber} «${version.name}» starter builds collection (Razunter's picks)`
const description = `Quick preview of starter builds for Path of Exile v${thisVersionNumber} ${version.name}, collected by Razunter`
const reformattedVersionNumber = thisVersionNumber.replaceAll('.', '-')
const data = (await import(
  `../data/data-${reformattedVersionNumber}.json`
)) as VersionDataType
const currentTypes = Object.entries(data.types)
const svgSprite = await sprite()
---

<Layout title={title} description={description}>
  <Fragment slot="nav">
    <div hidden set:html={svgSprite} />
    <nav class="mainnav" aria-label="Main navigation">
      <ul>
        {
          currentTypes.map(([typekey, typename]) => {
            return (
              <>
                {(typekey !== 'rf' || !version.skiprf) && (
                  <li>
                    <a href={'#' + typekey} title={typename}>
                      <svg class="icon" role="img" aria-hidden="true">
                        <use xlink:href={'#icon-' + typekey} />
                      </svg>
                    </a>
                  </li>
                )}
              </>
            )
          })
        }
      </ul>
    </nav>
  </Fragment>

  <Fragment slot="header">
    <h1>
      Path of Exile
      {
        version.url ? (
          <a href={version.url} target="_blank" rel="noopener noreferrer">
            {thisVersionNumber} {version.name}
          </a>
        ) : (
          <>
            {thisVersionNumber} «{version.name}»
          </>
        )
      }
      <>starter builds collection (Razunter's picks)</>
    </h1>
    {
      version.wip ||
        (version.note && (
          <div class="subtitle">
            {version.wip && 'Work in Progress!'}
            {version.note && version.note}
          </div>
        ))
    }
    {
      thisVersionNumber !== versionsData.currentVersion && (
        <div class="subtitle">
          old version, new version <a href="/index.html">here</a>
        </div>
      )
    }
  </Fragment>

  {
    currentTypes.map(([typekey, typename]) => {
      return (
        <>
          {(typekey !== 'rf' || !version.skiprf) && (
            <section id={typekey} class="section">
              <h2 class="section-title">
                <svg class="icon" role="img" aria-hidden="true">
                  <use />
                </svg>
                {typename}
              </h2>
              <div class="builds-collection">
                {/* {% set buildList = data.buildList | selectAttrEq("type", typekey) | first %}*/}
                {/* {% set noVideoBuilds = [] %}*/}
                {/* {% for build in buildList.builds %}*/}
                {/* {% if isBuildCurrent(build.versions, thisVersionNumber, versions.versions) and not build.skip %}*/}
                {/* {% if build.videothumb['480w'] %}*/}
                {/* {{macros.video(build.title, build.url, build.video, build.videothumb, build.author)}}*/}
                {/* {% else %}*/}
                {/* {% set noVideoBuilds = (noVideoBuilds.push(build), noVideoBuilds) %}*/}
                {/* {% endif %}*/}
                {/* {% endif %}*/}
                {/* {% endfor %}*/}
                {/* {% if noVideoBuilds | length > 0 %}*/}
                {/* <div class="build build--novideo">*/}
                {/*    <div class="build-title">*/}
                {/*        <h3>*/}
                {/*            No video*/}
                {/*        </h3>*/}
                {/*    </div>*/}
                {/*    <ul>*/}
                {/*        {% for build in noVideoBuilds %}*/}
                {/*        <li>*/}
                {/*            <a class="build-link"*/}
                {/*               href="{{ build.url }}"*/}
                {/*               target="_blank" rel="noopener">*/}
                {/*                {% if build.author %}<span class="build-author">{{build.author}}</span> - {% endif %}{{*/}
                {/*                build*/}
                {/*                .title*/}
                {/*            }}*/}
                {/*            </a>*/}
                {/*        </li>*/}
                {/*        {% endfor %}*/}
                {/*    </ul>*/}
                {/* </div>*/}
                {/* {% endif %}*/}
              </div>
            </section>
          )}
        </>
      )
    })
  }

  <Fragment slot="footer">
    <ul class="previous-links">
      <li class="nav-description">Version:</li>
      {/* {% for v in versions.versions | limit(3) | reverse %}*/}
      {/* {% if v.version == thisVersionNumber %}*/}
      {/* <li class="active">*/}
      {/*    {% else %}*/}
      {/* <li>*/}
      {/*    {% endif %}*/}
      {/*    {% if loop.first %}*/}
      {/*    <a href="index.html">Current ({{v.version}})</a>*/}
      {/*    {% else %}*/}
      {/*    <a href="old-{{ v.version }}.html">{{v.version}}</a>*/}
      {/*    {% endif %}*/}
      {/* </li>*/}
      {/* {% if not loop.last %}*/}
      {/* <li class="separator">|</li>*/}
      {/* {% endif %}*/}
      {/* {% endfor %}*/}
    </ul>
    <ul class="footer-links">
      <li>
        <a href="https://www.pathofexile.com/" target="_blank" rel="noopener"
          >Path of Exile</a
        >
      </li>
      <li>
        Site created by <a
          href="mailto:razunter@gmail.com"
          title="razunter@gmail.com">Razunter</a
        >
      </li>
    </ul>
  </Fragment>
</Layout>
