---
import IconExternal from 'src/components/IconExternal.astro'

type Props = {
  build: BuildDataType
}

const {build} = Astro.props as Props

type VideoType = 'novideo' | 'Twitch' | 'YouTube'

const getVideoType = (input: string | undefined): VideoType => {
  if (!input) {
    return 'novideo'
  }

  let type: VideoType = 'novideo'
  if (input.includes('youtube.com')) {
    type = 'YouTube'
  } else if (input.includes('twitch.tv')) {
    type = 'Twitch'
  }

  return type
}

const getVideoID = (input: string | undefined, type: VideoType) => {
  if (!input) {
    return input
  }

  if (type === 'YouTube') {
    return input.slice(Math.max(0, input.lastIndexOf('?v=') + 3))
  } else if (type === 'Twitch') {
    return input.slice(Math.max(0, input.lastIndexOf('/') + 1))
  }

  return input
}

const videoType = getVideoType(build?.video)
const videoID = getVideoID(build.video, videoType)

const makeWebP = (url: string, videoTypeLocal: VideoType) => {
  if (videoTypeLocal !== 'YouTube') {
    return url
  }

  return url.replaceAll('/vi/', '/vi_webp/').replaceAll('.jpg', '.webp')
}

let dataSRC = ''
const dataSRCset: string[] = []

if (build.videothumb?.['480w']) {
  dataSRC = makeWebP(build.videothumb['480w'], videoType)

  for (const size in build.videothumb) {
    if (Object.hasOwn(build.videothumb, size)) {
      dataSRCset.push(makeWebP(build.videothumb[size], videoType) + ' ' + size)
    }
  }
}
---

<figure class="build">
  <figcaption class="build-title">
    <h3>
      <a
        class="build-link"
        href={build.url}
        target="_blank"
        rel="noopener noreferrer"
      >
        {
          build.author && (
            <>
              <span class="build-author">{build.author}</span> -
            </>
          )
        }{build.title}&#8288;
        <IconExternal url={build.url} />
      </a>
    </h3>
  </figcaption>
  <div class="video-wrap">
    <button
      class={`video-button video-button--${videoType}`}
      data-video={videoID}
      title={build.title}
    >
      <img
        width="640"
        height="480"
        sizes="(min-width: 1800px) 790px, (min-width: 1500px) 640px, (min-width: 920px) 480px, 90vw"
        src={dataSRC}
        srcset={dataSRCset.join(', ')}
        loading="lazy"
        alt={build.title}
        class="thumb"
      />
    </button>
  </div>
</figure>

<style lang="scss">
  .video-button {
    all: unset;
    display: block;
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: var(--link-color-transparent) 0 0 5px;
    }
  }
</style>
